
[ng-drag]{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[ng-drag]{
    width: 115px;
    height: 100px;
    /*background: rgba(255,0,0, 0.5);*/
    border: 1px solid #8390D8;
    color:#3D4EAD;
    text-align: center;
    padding-top:5px;
    display: inline-block;
    margin: 7px 10px;
    cursor: move;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
ul.draggable-objects{
    margin-bottom: 0px;
    height: 238px;
    width: 527px;
    border: 1px solid #8390D8;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 0px;
}
ul.draggable-objects:after{
    display: block;
    content:"";
    clear:both;
}
.draggable-objects li{
    float:left;
    display: block;
    width: 128px;
    height:100px;
    margin: 10px 0 10px 0;
}
[ng-drag].drag-over{
    border:solid 1px red;
}
[ng-drag].dragging{
    opacity: 0.5;
}
[ng-drop]{
    background: #F3F3F8;
    border: 1px solid #8390D8;
    text-align: center;
    width: 527px;
    height: 200px;
    padding-top:25px;
    display: block;
    /*margin:20px auto;*/
    position: relative;
    overflow-x: scroll;
}
[ng-drop].drag-enter{
    border:solid 5px red;
}
[ng-drop] span.title{
    display: block;
    position: absolute;
    top: 0;
    left: 3px;
    width: auto;
    height: 20px;
    color: #908989;
}
[ng-drop] > div{
    position: relative;
    z-index: 2;
    cursor: default;
    float: left;
    width: 115px;
    height: 100px;
    /*background: rgba(255,0,0, 0.5);*/
    border: 1px solid #8390D8;
    color:#3D4EAD;
    text-align: center;
    padding-top:5px;
    display: inline-block;
    margin: 7px 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}
[ng-drop] .delete-btn{
    position: absolute;
    margin: -4px 0px 6px 17px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 374px){
    [ng-drag]{
        width: 99px;
        height: 95px;
        /*background: rgba(255,0,0, 0.5);*/
        border: 1px solid #8390D8;
        color:#3D4EAD;
        text-align: center;
        padding-top:5px;
        display: inline-block;
        margin:0 10px;
        cursor: move;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }
    ul.draggable-objects{
        margin-bottom: 0px;
        height: 238px;
        width: 325px;
        border: 1px solid #8390D8;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-left: 0px;
        margin-left: -13px;
    }
    .draggable-objects li{
        float:left;
        display: block;
        width: 100px;
        height:100px;
        margin: 8px 2px 2px -1px;
    }
    [ng-drop]{
        /*background: #F3F3F8*/
        border: 1px solid #8390D8;
        text-align: center;
        width: 324px;
        height: 200px;
        padding-top:25px;
        display: block;
        /*margin:20px auto;*/
        position: relative;
        overflow-x: scroll;
        margin-left: -12px;
    }
    [ng-drop] span.title{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 20px;
        color: #908989;
    }
    [ng-drop] > div{
        position: relative;
        z-index: 2;
        cursor: default;
        float: left;
        margin: 5px 0px 5px 7px;
        width: 97px;

        height: 95px;
        border: 1px solid #8390D8;
        color:#3D4EAD;
        text-align: center;
        padding-top:5px;
        display: inline-block;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }
    [ng-drop] .delete-btn{
        position: absolute;
        margin: -4px 0px 6px 11px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 480px) {
    [ng-drag]{
        width: 99px;
        height: 95px;
        /*background: rgba(255,0,0, 0.5);*/
        border: 1px solid #8390D8;
        color:#3D4EAD;
        text-align: center;
        padding-top:5px;
        display: inline-block;
        margin:0 10px;
        cursor: move;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }
    ul.draggable-objects{
        margin-bottom: 0px;
        height: 238px;
        width: 370px;
        border: 1px solid #8390D8;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-left: 0px;
        margin-left: -13px;
    }
    .draggable-objects li{
        float:left;
        display: block;
        width: 100px;
        height:100px;
        margin: 10px 2px 10px 2px;
    }
    [ng-drop]{
        /*background: #F3F3F8*/
        border: 1px solid #8390D8;
        text-align: center;
        width: 367px;
        height: 200px;
        padding-top:25px;
        display: block;
        /*margin:20px auto;*/
        position: relative;
        overflow-x: scroll;
        margin-left: -12px;
    }
    [ng-drop] span.title{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 20px;
        color: #908989;
    }
    [ng-drop] > div{
        position: relative;
        z-index: 2;
        cursor: default;
        float: left;
        margin: 5px 0px 5px 7px;
        width: 97px;

        height: 95px;
        border: 1px solid #8390D8;
        color:#3D4EAD;
        text-align: center;
        padding-top:5px;
        display: inline-block;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }
    [ng-drop] .delete-btn{
        position: absolute;
        margin: -4px 0px 6px 11px;
    }
}