.btn-long-green{
    width: 220px;
    color: white;
    font-size: 13px;
    background-color: #53c653;
}

.btn-long-orange{
    width: 200px;
    color: white;
    font-size: 14px;
    background-color: #ffa31a;
}