<div id="profile-details" header showprofile="false" icon="fa fa-plane" title1="Add Candidates" query='query' ></div>

<div class="container">
  <div class="row searchWrapper">
    <div class="col-sm-9 col-md-4 col-xs-6">
      <input type="text" class="form-control" placeholder="Search" ng-model="search.$" />
    </div>
 </div><!--row end here -->
 
<div class="row" ng-controller="positionCtrl">
  <div class="col-sm-12">
  <!-- draggable -->
  <ul class="draggable-objects">
    <!--li ng-repeat="obj in draggableObjects" >
        <div ng-drag="true" ng-drag-data="obj" data-allow-transform="true"> {{obj.name}} </div>
    </li-->
     <li ng-repeat="candidate in usersList | filter: search | orderBy:orderByField:reverseSort">
        <div ng-drag="true" ng-drag-data="candidate" data-allow-transform="true">
          <img ng-src={{candidate.avatar}} class="img-circle userpic-bullet"/> 
          <div>{{candidate.empName}}</div>
          <div>{{candidate.empId}}</div>
        </div>
    </li>
  </ul>
  <hr/>
 
  <div ng-drop="true" ng-drop-success="onDropComplete1($data,$event)">
    <span class="title">Drop Here</span>
    <div ng-repeat="candidate in droppedObjects1" ng-drag-data="candidate" ng-drag-success="onDragSuccess1($data,$event)" ng-center-anchor="{{centerAnchor}}">
        <img ng-src={{candidate.avatar}} class="img-circle userpic-bullet"/>
            <a class="table-btn delete-btn" ng-click="deleteAppCandidate(candidate.id)"> X </a>
        <div>{{candidate.empName}}</div>
        <div>{{candidate.empId}}</div>
    </div>
  </div>

  <!--div class="form-group">
      <div class="col-sm-offset-2 col-sm-5">
         <button type="submit" class="btn btn-primary" ng-click="addCandidates(droppedObjects1)">Save Candidates</button>         
      </div>
  </div-->
  </div><!-- list grp end -->

  <div ng-if="usersList.length==0">
      Oops!@! No Candidate Applied
  </div>  
</div><!--row end here -->
</div><!--container end here -->

