
<div id="profile-details" header showprofile="false" icon="fa fa-plane" title1="OPEN POSITIONS" query='query' >
<!--  <div class="searchViewHead col-xs-12">
        <div class="searchDivHead col-xs-12 col-sm-8 col-md-10 div-padding">

              <input type="text" placeholder="Search" ng-model="$parent.query" />

        </div>
    </div> !-->
</div>
<div class="divtop">
    <br>
    <div class="my-visit-content col-xs-12 col-sm-12 col-md-12">
        <div ng-repeat="position in positionList" class="visit-card">
            <div> 
                <div class="visitlinks">
                    <h4>{{position.positionId}}</h4>
                    <h5><a target="_blank" href="/public/uploads/jd/{{position.positionId}}.doc"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{{position.jobTitle | uppercase}}</a></h5>
                </div>
                <div class="dropdown pull-right">
                    <div class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-v fonticon1" aria-hidden="true"></i>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#/positions/{{position.positionId}}">Candidates Applied</a></li>
                        <li class="divider"></li>
                        <li><a href="/#/execBios/{{visit._id}}">Provide Feedback</a></li>
                        <li class="divider"></li>
                        <li><a target="_blank" href="/public/uploads/jd/{{position.positionId}}.doc">View JD</a></li>
                        <li class="divider"></li>
                        <li><a href="#/contacts/:city">View Feedback</a></li>
                    </ul>
                </div>
                <p class="visit-details">
                    <i class="fa fa-calendar"></i> {{position.validTill | date:"dd MMM yyyy"}} 
                </p>
                <p class="visit-details">
                    <i class="fa fa-map-marker"></i> {{position.location}}
                </p>

            </div>
        </div>
    </div>
    
    <div ng-if="positionList.length==0">
        Oops!@! No Positions Available
    </div>
</div>
